.search-container {
  display: grid;

  grid-template-columns: 1fr auto;

  align-items: center;

  width: 100%;
  max-width: 500px;

  background: white;

  border-radius: 20px;

  padding: 8px 12px;

  gap: 10px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

/* INPUT */
.search-input {
  border: 1px solid rgba(0,0,0,0.1);

  outline: none;

  border-radius: 20px;

  font-size: 16px;

  padding: 12px 16px;

  background: transparent;
}

/* BUTTON */
.search-btn {
  border: 1px solid rgba(0,0,0,0.1);

  background: #111827;

  color: white;

  padding: 12px 18px;

  border-radius: 20px;

  cursor: pointer;

  transition: 0.3s;
}

/* HOVER */
.search-btn:hover {
  opacity: 0.9;
}